/* CSS v1.3 */
:root {
  --main-theme-alpha: rgba(0, 206, 209, 0.5);
  --main-theme: rgba(0, 206, 209, 1);
  --black: #303030;
  --main-darker: #4aa5af;
}

/* Main */
body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  background: white;
  margin: 0;
  padding: 0;
  background: linear-gradient(
      90deg,
      rgba(0, 145, 145, 0.1) 0%,
      rgba(255, 255, 255, 1) 15%,
      rgba(255, 255, 255, 1) 85%,
      rgba(0, 145, 145, 0.1) 100%
    ),
    url(./plus.svg) repeat;
  background-size: 100vw 100vh, 10em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  height: 100vh;
}

.container > header {
  margin-top: 10px;
  background: url(./ribbon.svg) no-repeat center;
  background-size: 100%;
  text-align: center;
}

.container > footer {
  color: var(--main-darker);
  font: italic 1.1em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.container > footer ul li {
  display: inline-block;
}

.board-row {
  display: flex;
  justify-content: center;
}

/* Game status */
.game header {
  text-align: center;
  margin: 1em auto;
}

h2 {
  display: inline-block;
  font-size: 4vmin;
  font-weight: 700;
  color: var(--black);
  font-family: sans-serif;
  text-transform: uppercase;
  transition: transform 600ms, color 300ms, font-weight 100ms;
}

.blink {
  animation: scaleOut 500ms linear 1;
}

.finished {
  animation: none;
  transform: scale(1.1) translateY(-0.5vmin);
  color: crimson;
  font-weight: bold;
}

/* Game */
.game-board {
  display: flex;
  flex-flow: column nowrap;
  transform-origin: top left;
  transition: transform 200ms;
  width: 100%;
}

.game-board.scaled {
  transform: scale(0.5);
  transform-origin: top left;
}

.history {
  position: relative;
}

.history-nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.history ul {
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 50%;
  list-style-type: none;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

/* Text */

h1 {
  text-align: center;
  font: bold calc(1.5em + 2vmin) serif;
  font-family: 'PT Serif Caption', 'PT Serif', Georgia, Times, 'Times New Roman',
    serif;
  padding: 1rem 0;
  color: white;
}

.container > footer li,
.container > footer p {
  text-align: end;
  padding: 0.5em;
}
a {
  color: var(--main-darker);
  font-size: 2em;
  vertical-align: bottom;
}

/* Buttons */

.kbd-navigation .square:focus {
  background: rgb(218, 249, 252);
}
.kbd-navigation .but:focus {
  background: var(--main-darker);
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.square {
  background: white;
  border: 0.05em solid var(--main-theme-alpha);
  border-radius: 20%;
  margin: 0.05em;
  font-weight: bold;
  line-height: 34px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  text-align: center;
  transition: transform 200ms, border-color 200ms;
  height: 1.2em;
  width: 1.2em;
  font-size: 16vmin;
  color: var(--black);
}

.history ul button {
  padding: 0.5vmin;
  display: block;
  width: 90%;
  margin: 1vmin auto;
  font-size: 2vmin;
  border: solid var(--main-theme-alpha) 0.1em;
  animation: scaleStart 200ms linear 1;
  overflow: hidden;
  white-space: nowrap;
  transition: transform 100ms;
}

.history ul button:hover {
  background-color: rgba(130, 211, 214, 0.5);
}

.show {
  animation: fadeIn ease-out 500ms 1;
}

.but {
  margin: 20px auto;
  font-size: calc(1em + 3vmin);
  text-align: center;
  border-radius: 0.3em;
  background-color: var(--main-theme);
  color: white;
}

.but img {
  width: 1.3em;
  height: 1.3em;
  display: block;
  margin: auto;
  padding: 10% 0;
}

.arrow.down {
  transform: translateY(5px) rotate(180deg);
}

.but:hover {
  background-color: var(--main-darker);
}

.but:active {
  transform: scale(0.98);
}

.hover {
  color: var(--main-theme-alpha);
}

.main {
  margin-right: 1vmin;
  margin-left: 1vmin;
  flex: 2.1;
  white-space: nowrap;
  overflow: hidden;
}

.side {
  flex: 1;
}

.arrow {
  width: 60%;
  height: 70%;
  margin: 10% auto;
  display: block;
  background-color: white;
  clip-path: polygon(50% 20%, 100% 80%, 50% 75%, 0 80%);
  transition: transform 300ms;
}

.square:focus,
.but {
  outline: none;
}

.highlight {
  transform: scale(1.05);
  border-color: crimson;
}

.rotate {
  transform: rotate(360deg);
  transition: transform 500ms;
}
.shift {
  transform: translateX(-150px);
  transition: transform 200ms;
}

/* Animations */
@keyframes scaleOut {
  from {
  }
  10% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scaleStart {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fadeIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .container > header,
  .container > footer,
  .history {
    width: 80%;
    margin: 10px auto;
  }
  body {
    background-size: 100vw 100vh, 20vw;
  }

  .history ul button {
    margin: 0.3vmin auto;
  }

  .container {
    height: 95vh;
  }
}
